p{
		font-weight: 100;
		font-style:normal;
		font-size: 20px;
	}
div{
		height: 30px;
		width:30%;
		border:solid rgb(255,0,255);
		padding:5px;
	}
img{
	border:solid 30px rgb(0,200,0);

}
h4{
	color:blue;
	}
